@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {

  .slick-slide > div{
    display:flex;
    justify-content: center;
    align-items: center;
    height:100%%
  }

  .card {
    cursor: pointer;
    overflow: hidden;
    transition: all 500ms;
  }
  
  .card:hover {
    transform: scale(1.15);
  }

  .thumbnail-slider-wrap{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
    /* align-content:center; */
  }
  
}