@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .thumbnail-slider-wrap {
    margin-top: 15px;
    height: 25px;
    /* width: 85rem; */
  }
  .thumbnail-slider-wrap .slick-track .slick-slide {
    text-align: center;
  }
  .thumbnail-slider-wrap .slick-track .slick-slide {
    width: 70%;
  }
}